h2.micrositeVideoPlayerBigWidget {
	display:none;
}
.micrositeStoryListMoreWidget {
    margin-top: 0 !important;
}
.mobileAdMain {
    background-image: -moz-linear-gradient(center top , #FFDF66, #FFCB09);
    color: #3D3D3D;
    height: 100px;
    margin: 0;
    padding: 42px 0 12px 22px;
    width: 100%;
}
a.mobileAd {
    color: #3D3D3D;
    font-size: 260%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
:focus {
    outline: 0 none;
}
body {
	background: #8e8e8e url(/e2/rv5_images/profdevtool/profdevbg.jpg) repeat center top;
	color: #303230;
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
strong {
	font-weight: bold;
}
#micrositeHeader {
    display: block;
    min-height: 100px;
    width: 100%;
}
#micrositeContent {
    display: block;
    min-height: 100px;
    width: 100%;
}
#micrositeLeftCol {
    display: block;
    float: left;
    min-height: 100px;
    width: 70%;
}
#micrositeRightCol {
    display: block;
    float: right;
    min-height: 100px;
    width: 30%;
}
.clear {
    clear: both;
}
#micrositeFooter {
    display: block;
    min-height: 100px;
    width: 100%;
}
body {
	background: #8e8e8e url(/e2/rv5_images/profdevtool/profdevbg.jpg) repeat center top;
    color: #303230;
    font-family: Verdana,Geneva,sans-serif;
}
#micrositePage {
    background-color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 900px;
}
#micrositeContainer, #micrositeFooter {
    margin-left: auto;
    margin-right: auto;
    width: 870px;
}
#micrositeContainer {
/*    background-color: #F7F7F7;*/
}
#micrositeFooter {
    font-size: 0.8em;
    margin-top: 20px;
}
#micrositeFooter p {
    color: #303230;
    text-align: center;
}
#micrositePage a {
    color: #333333;
	display:block;
    text-decoration: none;
}
#micrositeFooter a {
    color: #303230;
	text-decoration: none;
}
#micrositeFooter a:hover, #micrositeFooter a:focus {
    text-decoration: underline;
}
.micrositeHeaderWidget {
    background-color: transparent;
    background-image: url("/e2/rv5_images/features/professional/header.jpg");
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    text-indent: -9999px;
}
.micrositeHeaderWidget a {
    bottom: -201px;
    height: 81px;
    left: 16px;
    position: absolute;
    right: 15px;
    top: 202px;
    width: 65px;
}
.micrositeFacebookLikeWidget {
    margin-left: 5px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.micrositefacebookLike {
    float: left;
    height: 20px;
    padding: 0 !important;
    width: 74px !important;
}
.micrositeTwitter {
    float: left;
    height: 20px;
    margin-left: 15px;
    padding: 0 !important;
    width: 83px !important;
}
.micrositegooglePlus {
    float: left;
    height: 20px;
    margin-left: 15px;
    padding: 0 !important;
    width: 59px !important;
}

.micrositeTextWidget, .micrositeTextWidgetSecond { margin-bottom: 20px; }
.micrositeTextWidget:first-letter {
    color: #303230;
    float: left;
    font-family: Times,serif,Georgia;
    font-size: 70px;
    line-height: 50px;
    padding-right: 5px;
}
.micrositeTextWidget p:first-letter {
    color: #303230;
    float: left;
    font-family: Times,serif,Georgia;
    font-size: 70px;
    line-height: 50px;
    padding-right: 5px;
}
.micrositeTextWidgetHighlight {
	margin-bottom: 20px;
	border: 2px solid #FFCB05;
	background: #FFF2BF;
	padding: 12px;
}
.micrositeTextWidgetHighlight p {
    padding: 7px 0;
	clear:both;
	margin-bottom: 10px;
	}
.micrositeTextWidgetHighlight p:last-child {
    padding-bottom: 0;
}
.micrositeTextWidgetHighlight h1 {
	font-weight: bold;
	font-size:16px;
	padding-bottom:7px;
}
.micrositeTextWidgetHighlight h3 {
    clear: both;
    font-weight: bold;
    padding: 7px 0;
}
.micrositeTextWidgetHighlight em {
    float: left;
	font-style: normal;
    width: 100px;
}
.micrositeTextWidgetHighlight li p a {
    float: right;
    font-weight: normal;
    margin-bottom: 7px;
    width: 450px;
}
.micrositeTextWidgetHighlight a {
	display:inline !important;
	text-decoration: underline !important;
}
.micrositeTextWidgetHighlight a:hover, .micrositeTextWidgetHighlight a:focus {
    background-color: #F7F7F7 !important;
    text-decoration: none !important;
}
.playlistPlayer_001 {
    margin-bottom: 20px;
    margin-top: 20px;
}
#micrositePage h2 {
    background: none repeat scroll 0 0 #303230;
    clear: both;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 900;
    margin-top: 20px;
    padding: 5px 0 6px 12px;
    text-transform: uppercase;
}
#micrositeLeftCol {
/*    padding: 10px;*/
    margin-top:20px;
	width: 590px;
}
#micrositeRightCol {
/*    padding: 4px;*/
    margin-top:20px;
}
#micrositePage .rightSection {
    border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    margin-bottom: 20px;
    padding: 12px;
}
.micrositeLinkBoxWidget li {
    margin-bottom: 7px;
}

.micrositeLinkBoxWidget li a:hover, .micrositeLinkBoxWidget li a:focus {
	background-color: #FFF2BF;
    color: #333333;
    text-decoration: none;
}

.micrositeSocialMedaWidget a {
    margin: 0 0 8px 6px;
}
.micrositeSocialMedaWidget a:hover, .micrositeSocialMedaWidget a:focus {
    background-color: transparent !important;
}
.storyBlock {
    clear: both;
    margin: 0;
}
.leftPane {
    float: left;
/*    margin: 0 5px 15px 0;*/
    margin: 12px 0 12px 8px;
    padding: 0;
    width: 152px;
}
.leftPane img {
    border: 1px solid #414034;
}
.rightPane {
    float: right;
	margin: 12px;
    width: 404px;
}
.rightPane a {
    font-weight: bold;
    text-decoration: none;
}
.rightPane p a {
    display: inline !important;
}
.rightPane p a:hover, .rightPane p a:focus {
    background-color: transparent !important;
    color: #7B8738 !important;
    text-decoration: underline !important;
}
.rightPane h3 {
    font-size: 1.3333em;
    margin: 0 0 0.5em;
/*	padding-right: 12px;*/
}
/*.rightPane p {
    padding-right: 10px;
}*/
.subContent {
    margin-left: 12px;
}
.storyBlock, .storyBlock1 {
    background: url("/e2/rv5_images/professional/storyBlock_gradient.jpg") repeat-x scroll center bottom transparent;
    border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    clear: both;
    float: left;
    padding-bottom: 0;
/*    padding-top: 15px;*/
    width: 588px;
}
.storyBlock1 li {
    padding: 1px 1px 5px 10px;
}
.storyBlock h3 a, .storyBlock1 h3 a {
    font-size: 15px;
    font-weight: bold;
    outline: 0 none;
    text-decoration: none;
}
.storyBlock h3 a:hover, .storyBlock h3 a:focus, .storyBlock1 h3 a:hover, .storyBlock1 h3 a:focus {
	background-color: #FFF2BF;
    color: #333333;
    text-decoration: none;
}
.storyBlock .left, .storyBlock1 .left {
    float: left;
}
/*.storyBlock img, .storyBlock1 img {
    margin-left: 5px;
}*/
.storyBlock .right, .storyBlock1 .right {
    float: right;
    width: 400px;
}
.leaderImage, .leaderText {
    float: left;
}
.leaderImage {
    margin-right: 10px;
    width: 52px;
}
.leaderText {
    font-size: 12px;
    width: 175px;
}
a.subLink {
    font-size: 10px;
    font-weight: lighter;
}
#archives {
    background: url("/e2/rv5_images/features/more_stories_590.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    clear: both;
    display: block;
    height: 35px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    text-indent: -9999px;
    top: 13px;
}
#archives > a {
    background-color: transparent !important;
    height: 35px;
}
#archives:hover, #archives:focus {
    background-position: 0 -35px;
}
.micrositeSocialMedaWidget {
    margin: 20px 0 0;
}
.micrositeSocialMedaWidget a {
    margin: 0 0 8px 6px;
}

.micrositeSocialMedia_001 {
	background: none !important;
    border-top: none !important;
    font-family: Verdana,Geneva,sans-serif !important;
}
.micrositeSocialMedia_001 p {
    text-shadow: none !important;
}
.micrositeSocialMedia_001 p.title {
    background: none repeat scroll 0 0 #303230;
    font-family: Verdana,Geneva,sans-serif !important;
    font-size: 13px !important;
    font-weight: 900;
    padding: 5px 0 6px 12px !important;
    text-align: left;
    text-transform: uppercase;
}
.micrositeSocialMedia_001 .icons {
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
	padding: 12px 0 !important;
}
.icons a {
    display: inline !important;
}
.micrositeSocialMedia_001 .icons img {
    border: medium none !important;
    margin: 0 !important;
}
.micrositeSocialMedia_001 .button {
    border: 1px solid #B3B3B3 !important;
    margin: 7px 0 0 -1px !important;
}
.micrositeSocialMedia_001 .button a {
    border: medium none !important;
	width: 100% !important;
}
.micrositeSocialMedia_001 .button a:hover, .micrositeSocialMedia_001 .button a:focus {
    background: none repeat scroll 0 0 transparent !important;
}
.standto {
    background-color: #F7F7F7 !important;
	padding-bottom: 0 !important;
	margin-bottom: 20px;
}
.standto .header {
    background-color: #303230 !important;
}
.standto .header p.title {
    left: 12px !important;
    top: 8px !important;
}
.standto .text {
    border-bottom: 1px solid #B3B3B3;
    border-left: 1px solid #B3B3B3;
    border-right: 1px solid #B3B3B3;
    padding-bottom: 12px;
}
.standto .text p {
    border-bottom: 1px solid #DDDDDD;
    margin: 0 12px;
    padding: 12px 0 7px;
}
.standto .up {
    padding-top: 0 !important;
}
.standto em {
	font-size: 10px !important;
	font-style: italic;
}
.standto .text a, .standto .text a:visited {
    display: inline-block !important;
    font-size: 13px;
    font-weight: bold;
    margin: 0 12px !important;
    padding: 7px 0 0;
    text-decoration: none !important;
}
.standto a:hover, .standto a:focus {
    background-color: transparent !important;
    color: #7B8738 !important;
    text-decoration: underline !important;
}

.micrositeVideoPlayerSmallWidget {
    margin: 0 0 0 6px;
}
.promoImage {
    margin-bottom: 20px;
}
.headerStar {
    background: url("/e2/rv5_images/features/army_star_neg.png") no-repeat scroll 0 0 transparent;
}
#flickr_badge_uber_wrapper {
    margin: 0 auto;
    text-align: center;
    width: 189px;
}
#flickr_www {
    color: #3993FF !important;
    display: block;
    font: 11px Arial,Helvetica,Sans serif !important;
    padding: 0 10px !important;
}
#flickr_badge_wrapper {
    padding: 6px;
    text-align: center;
}
#flickr_badge_wrapper {
    background-color: #FFFFFF;
    border: 1px solid #3D3D3D;
    text-align: center;
}
.flickr_badge_image {
    margin: 0;
    width: inherit;
}
.flickr_badge_image img {
    border: 1px solid grey !important;
    float: left;
    margin: 5px;
    text-align: center;
}
#flickr_badge_source {
    clear: both;
    margin: 10px 10px 0 5px;
    text-align: left;
}
#flickr_badge_icon {
}
#flickr_badge_uber_wrapper a:hover, #flickr_badge_uber_wrapper a:focus, #flickr_badge_uber_wrapper a:link, #flickr_badge_uber_wrapper a:active, #flickr_badge_uber_wrapper a:visited {
    background: inherit !important;
    color: #3993FF;
    text-decoration: none !important;
}
#flickr_badge_source {
    color: #666666 !important;
    font: 11px Arial,Helvetica,Sans serif !important;
    padding: 0 !important;
}
#addThisTopRight {
    float: right;
}
#addThisTopRight a:hover {
    background-color: transparent;
}
#addThis #linkBack {
    color: #FFFFFF;
    display: inline;
    float: right;
    font-weight: normal;
    margin-bottom: -28px;
    position: relative;
    right: 35px;
    top: -20px;
}
#addThis a, #articleFooter a {
    color: #3D3D3D;
    outline: 0 none;
    text-decoration: none;
}
#addThis h2 {
    margin: 0;
    padding: 0 10px;
}
#addThis {
    background: none repeat scroll 0 0 #D7D7D7;
    display: none;
    float: left;
    font-family: Verdana,Arial,Sans-serif;
    font-size: 10px;
    margin: 15px 0 -15px;
    max-width: 1200px;
    min-width: 520px;
    padding-bottom: 5px;
    width: 100%;
    z-index: 1000;
}
#addThis ul {
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 5px;
    padding: 0;
    width: 100%;
}
#addThis ul#moreShare {
    display: none;
}
#addThis li {
    background: none repeat scroll 0 0 transparent;
    float: left;
    margin: 2px 0;
    padding: 0;
    width: 19.5%;
}
#addThis ul#tops li {
    width: 16%;
}
#addThis li:hover, #addThis li:focus {
    background: none repeat scroll 0 0 #F7F7F7;
}
#addThis li a:hover, #addThis li a:focus {
    background-color: transparent;
}
#addThis li:hover, #share, #shareClose, .all {
    cursor: pointer;
}
#share:hover {
    color: #3D3D3D;
}
#share .textLink {
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 18px;
    margin-left: 24px;
    width: 300px;
}
#shareClose {
    display: inline;
    float: right;
    margin-bottom: -28px;
    position: relative;
    top: -28px;
}
.aolfav {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 0 transparent;
}
.buzz {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -16px transparent;
}
.delicious {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -32px transparent;
}
.digg {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -48px transparent;
}
.diigo {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -64px transparent;
}
.facebook {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -80px transparent;
}
.friendfeed {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -96px transparent;
}
.google {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -112px transparent;
}
.linkedin {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -128px transparent;
}
.live {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -144px transparent;
}
.mixx {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -160px transparent;
}
.myspace {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -176px transparent;
}
.newsvine {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -192px transparent;
}
.reddit {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -208px transparent;
}
.stumbleupon {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -224px transparent;
}
.technorati {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -240px transparent;
}
.twitter {
    background: url("/e2/rv4_images/shareSprites.gif") no-repeat scroll 0 -256px transparent;
}
#articleFooter, #iconStrip {
    float: left;
    font-family: Verdana,Arial,Sans-serif;
    font-size: 10px;
    max-width: 1200px;
    min-width: 520px;
    width: 100%;
}
#iconStrip {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #939393;
    border-top: 1px solid #939393;
    display: block;
    float: left;
    height: 28px;
    margin: 15px 0;
    padding: 3px 0;
}
#iconStripLeft {
    float: left;
}
#iconStripRight {
    float: right;
}
#iconStripRight a {
    float: right;
    line-height: 18px;
    margin: 5px 10px 0 0;
}
#iconStripRight .textLink {
    font-weight: bold;
}
#share {
    background: url("/e2/rv4_images/icon_sprites.gif") no-repeat scroll 0 -361px transparent !important;
}
#shareClose {
    background: url("/e2/rv4_images/icon_sprites.gif") no-repeat scroll 0 -380px transparent;
}
.article_sprite {
    display: block;
    float: left;
    height: 19px;
    margin: 5px;
    width: 19px;
}
.block {
    clear: both;
    color: #FFFFFF;
    font-size: 11px;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    text-transform: uppercase;
}
.dark-gray {
    background: none repeat scroll 0 0 #4E4E4E;
}
.gray_text {
    color: #B4B4B4;
}
.icon_sprite {
    display: block;
    float: left;
    height: 19px;
    margin: 0 4px;
    width: 19px;
}
.share_sprite {
    display: inline;
    float: left;
    height: 16px;
    margin: 4px;
    width: 16px;
}
.share_sprite:hover {
    color: #3D3D3D;
}
#tops .share_sprite .textLink {
    width: 80px;
}
.share_sprite .textLink {
    display: block;
    font-weight: normal;
    height: 24px;
    line-height: 22px;
    margin-left: 21px;
    position: relative;
    top: -4px;
    width: 110px;
}
.share_sprite .textLink:hover {
    color: #3D3D3D;
    cursor: pointer;
}
.headerStar {
    display: block;
    height: 90px;
    position: relative;
    width: 60px;
}
.micrositefacebookLike {
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    width: 54px;
}
.micrositegooglePlus {
    float: left;
    padding-top: 5px;
    width: 60px;
}
.micrositeTwitter {
    float: left;
    padding-left: 37px;
    padding-top: 5px;
    width: 60px;
}
textarea#twitter {
    margin: 10px 0;
    padding: 0;
    position: absolute;
}
#twitterLabel {
    position: relative;
    top: 6px;
}
.micrositeclearfloat {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
}
.access {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}
#overlay {
    background: url("/images/overlay.png") repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1999;
}
#popup {
    background: none repeat scroll 0 0 transparent;
    display: none;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 2000;
}
#ajaxContent, #iframeContent {
    clear: both;
    display: block;
    overflow: auto;
}
#iframeContent, #iframeContent html, #iframeContent body {
    background: none repeat scroll 0 0 transparent;
}
#closeWindowButton {
    background: url("/images/addMedia_close_button.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 45px;
    left: 636px;
    position: relative;
    top: 64px;
    width: 44px;
    z-index: 9000;
}
.widgetBox {
    overflow: hidden;
    position: relative;
}
.widgetEditIcon {
    background: url("/images/global_sprite.png") no-repeat scroll -362px -70px transparent;
    display: block;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    z-index: 1290;
}
.widgetEditIconGreen {
    background: url("/images/global_sprite.png") no-repeat scroll -337px -70px transparent;
}
.overlay {
    border: 3px solid #FECC0A;
}
.overlayFill {
    background: none repeat scroll 0 0 #FFCC22;
    opacity: 0.3;
}
.overlayEffects {
    background: url("/images/overlay_striped_yellow.png") repeat scroll 0 0 transparent;
}
.overlay.hover {
    border: 3px dashed #EB8B25;
}
.overlay.hover .overlayFill {
    background: none repeat scroll 0 0 #FFFFFF;
}
.overlay.hover .overlayEffects {
    background: url("/images/overlay_striped_green.png") repeat scroll 0 0 transparent;
}
.overlay.hover .widgetEditIcon {
    background: url("/images/global_sprite.gif") no-repeat scroll -230px -255px transparent;
    width: 108px;
}
#addMediaContainer h3 {
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.6em 0 0 12px;
}
#librarySearch {
    display: inline;
    float: right;
    margin: 12px 12px 0 0;
}
#librarySearch input {
    border: 1px solid #B4B4B4;
    color: #B4B4B4;
    float: left;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    padding: 2px 20px 0 2px;
    width: 160px;
}
#librarySearch #searchIcon {
    background: url("/images/global_sprite.png") no-repeat scroll -496px -16px transparent;
    cursor: pointer;
    height: 12px;
    left: 167px;
    position: relative;
    top: 4px;
    width: 12px;
    z-index: 5000;
}
.grayBg label {
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 7px 12px;
}
.grayBg input {
    margin-top: 7px;
}
.grayBg input:focus {
    border: 2px solid #EB8B25;
}
#contentLibrary {
    clear: both;
    float: left;
    padding-bottom: 1em;
    width: 100%;
}
#addMediaContainer h3 {
    margin-top: 0.3em;
}
#addMediaContainer h4 {
    color: #FFFFFF;
    float: left;
    font-style: italic;
    font-weight: normal;
    margin-top: 14px;
    padding-left: 15px;
}
#librarySearch {
    margin-top: 0.8em;
}
#contentSelectWrapper, .contentList {
    clear: both;
    float: left;
}
#contentSelectWrapper {
    padding: 0.8em 0 0.3em 12px;
}
.contentSelect {
    float: left;
    margin-right: 20px;
}
.contentSelect select {
    width: 180px;
}
#addMediaContainer .contentSelect h4 {
    font-size: 1.2em;
    font-style: normal;
    margin: 0 5px 0 0;
    padding: 0;
}
.contentList, .contentList li, .contentList li img, .boxLeft, .boxText, .boxRight {
    float: left;
}
.contentList {
    padding: 0 0 0 12px;
}
.contentList li {
    color: #3D3D3D;
    margin: 0.4em 8px 0.4em 0;
    position: relative;
}
.contentList li .itemOverlay {
    background: none repeat scroll 0 0 #FFCC22;
    border: medium none;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4000;
}
.contentList li.placeholder {
    background: none repeat scroll 0 0 #3D3D3D;
    border: 1px dashed #FFCC22;
    overflow: hidden;
}
.contentList li img {
    border: medium none;
    margin-top: 1px;
}
.contentList li .boxText {
    padding: 0 0 0 8px;
    width: 218px;
}
.contentList li h5 {
    font-size: 1.2em;
    margin: 0.3em 0 0.2em;
}
.contentList li h6 {
    color: #5D5D5D;
    font-weight: normal;
}
.contentList li h6 .author {
    font-weight: bold;
}
.contentList li .boxLeft {
    height: 40px;
    width: 8px;
}
.contentList li .boxContent {
    background: none repeat scroll 0 0 #F7F7F7;
    float: left;
    height: 40px;
    width: 284px;
}
.contentList .article .boxLeft {
    background: url("/images/page_management_legends_sprite.gif") no-repeat scroll -179px -209px transparent;
}
.contentList .image .boxLeft {
    background: url("/images/page_management_legends_sprite.gif") no-repeat scroll -187px -209px transparent;
}
.contentList .video .boxLeft {
    background: url("/images/page_management_legends_sprite.gif") no-repeat scroll -195px -209px transparent;
}
.contentList .filler .boxLeft {
    background: url("/images/page_management_legends_sprite.gif") no-repeat scroll -203px -209px transparent;
}
.contentList .audio .boxLeft {
    background: url("/images/page_management_legends_sprite.gif") no-repeat scroll -211px -209px transparent;
}
.contentList .slideshow .boxLeft {
    background: url("/images/page_management_legends_sprite.gif") no-repeat scroll -219px -209px transparent;
}
.contentList li .boxRight {
    background: url("/images/page_management_legends_sprite.gif") no-repeat scroll -171px -209px transparent;
    height: 40px;
    width: 8px;
}
.contentList li .deleteItem {
    background: url("/images/global_sprite.png") no-repeat scroll -240px -20px transparent;
    height: 11px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 11px;
}
.contentList li .deleteItem:hover {
    background-position: -251px -20px;
}
.contentList li.itemHover .itemOverlay {
    z-index: 0;
}
.contentList li.availableDragging {
    opacity: 0.6;
}
.contentList li.ui-draggable-dragging {
    opacity: 0.9;
}
.ui-draggable, .ui-sortable-helper {
    cursor: move;
    z-index: 4001;
}
.ui-droppable {
    cursor: move;
}
#libraryPag {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 8px;
    width: 100px;
}
#libraryPag h4, #libraryPag a {
    color: #FFFFFF;
    float: left;
}
#libraryPag h4 {
    border: 1px solid #B4B4B4;
    font-style: normal;
    height: 15px;
    line-height: 15px;
    margin: 0;
    padding: 0 8px;
}
#libraryPag a {
    height: 17px;
    width: 17px;
}
#libraryPag .libraryPrev {
    background: url("/images/global_sprite.gif") no-repeat scroll -136px -249px transparent;
}
#libraryPag .libraryPrev.active {
    background: url("/images/global_sprite.gif") no-repeat scroll -136px -266px transparent;
}
#libraryPag .libraryNext {
    background: url("/images/global_sprite.gif") no-repeat scroll -153px -249px transparent;
}
#libraryPag .libraryNext.active {
    background: url("/images/global_sprite.gif") no-repeat scroll -153px -266px transparent;
}

#twtr-widget-1 .twtr-tweet a {
    display: inline !important;
}
.twtr-doc a:hover {
    background-color: transparent !important;
}
/*-- NEW TWITTER WIDGET --*/

.micrositeTwitterNew {
    border: 1px solid #B3B3B3;
    height: 398px;
    padding-left:10px;
}
.micrositeTextWidgetTwitter {
    background: none repeat scroll 0 0 #E5E5E5;
    margin-bottom: 20px;
    padding: 0 6px;
}
.micrositeTextWidgetTwitter p {
    padding: 6px 0;
}
.micrositeTextWidgetTwitter a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 4px 4px 4px 4px;
    color: #707070 !important;
    font-size: 13px;
    font-weight: normal !important;
    padding: 6px;
    display: block;
}
.micrositeTextWidgetTwitter a:hover, .micrositeTextWidgetTwitter a:focus {
    border-color: rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
}
/*-- NEW TWITTER WIDGET END --*/

/*-- ACCORDIAN WIDGET --*/

#micrositeAccordion h3 {
    background: none repeat scroll 0 0 #707070;
    color: #FFFFFF !important;
    font-size: 13px;
	font-weight: 900;
    padding: 5px 12px 6px;
    text-transform: uppercase;
}
#micrositeAccordion h3:hover { background: #B3B3B3;}

#micrositeAccordion a { color: #FFFFFF;}

#micrositeAccordion div {
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
}
#micrositeAccordion p { padding: 10px 12px 0;}

.ui-accordion-content a, .ui-accordion-content a:active, .ui-accordion-content a:visited { color: #333333 !important; }

.ui-accordion-content a:hover { background: none repeat scroll 0 0 #FFF2BF; }

.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all { border-bottom: 1px solid #FFFFFF; }

#micrositeAccordion p:first-child, .slcontactinfo, .slemail, .slinfo { display: none; }

/*-- ACCORDIAN WIDGET END --*/
